body {
  background: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.table-head {
  color: rgb(193, 202, 210);
  color: black;
  font-weight: bold;
  display: flex;
}

.product-name th {
  width: 70px;
  box-sizing: border-box;
  height: 40px;
  line-height: 40px;
}

tr {
  height: 60px;
}

.table-cell {
  color: white;
  min-width: 50px;
  width: 50px;
  height: 50px;
  padding: 10px 0;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  position: relative;
}

.table-row {
  display: flex;
}

.table-main {
  overflow-x: auto;
  padding-bottom: 20px;
  padding-left: 10px;
  background: #1a1a1a;
}

.checkbox-label {
  cursor: pointer;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgb(228, 228, 228);
  transform: translate(-50%, -50%);
}

input[type="checkbox"]:checked ~ .checkbox-label {
  background: white;
}

input[type="checkbox"]:checked ~ .checkbox-label:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 15px;
  top: 15px;
  left: 10px;
  background: black;
  transition: background 1s ease-in-out;
  transform: rotate(-35deg);
}
input[type="checkbox"]:checked ~ .checkbox-label:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 25px;
  top: 8px;
  right: 15px;
  background: black;
  transform: rotate(45deg);
}

.customer-section,
.tabtotals {
  padding: 10px;
}

.warning {
  overflow: hidden;
  transition: width 0.3s ease-in-out;
  display: inline-block;
  width: 20px;
}

.warning.hidden {
  width: 0px;
}

.tip-btn {
  width: 120px;
  height: 50px;
  background: #1a1a1a;
  color: rgb(255, 41, 41);
  outline-color: rgb(255, 41, 41);
  border: none;
  cursor: pointer;
}
